<a href="https://colab.research.google.com/github/HoPhuocMinhQuan20104052/HoPhuocMinhQuan/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt',mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')
with open('text1.txt',mode='w') as accounts:
  print('7:00 Nguyen Van A',file =accounts)
  print('7:01 Le Thi B', file = accounts)

In [ ]:
import pandas as pd
url='/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.head(5)

   NO  Student ID Full Name  Score Faculty  Year
0   1    20104010       Tai     10     CKM    20
1   2    20104041      Manh     10     CKM    20
2   3    20104052      Quan     10     CKM    20
3   4    20104015       Anh     10     CKM    20
4   5    20149564      Vinh      9     CLC    20

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe [:4]
dataframe = dataframe.set_index (dataframe['Full Name'])
dataframe.loc ['Quan']

NO                   3
Student ID    20104052
Full Name         Quan
Score               10
Faculty            CKM
Year                20
Name: Quan, dtype: object

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe[:4]
dataframe = dataframe.set_index(dataframe['Faculty'])
dataframe.loc['CLC']
dataframe[(dataframe['Faculty']=='CKM') & (dataframe['Score']>=2)]

         NO  Student ID Full Name  Score Faculty  Year
Faculty
CKM       1    20104010       Tai     10     CKM    20
CKM       2    20104041      Manh     10     CKM    20
CKM       3    20104052      Quan     10     CKM    20
CKM       4    20104015       Anh     10     CKM    20
CKM       9    20156753     Duong     10     CKM    18
CKM      10    20185249     Hoang     10     CKM    20

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe['Faculty'].unique()

array(['CKM', 'CLC', 'XD', 'CNM'], dtype=object)

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe['Faculty'].value_counts()

CKM    6
CLC    2
CNM    2
XD     1
Name: Faculty, dtype: int64

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.drop('Faculty',axis=1).head(10)

   NO  Student ID Full Name  Score  Year
0   1    20104010       Tai     10    20
1   2    20104041      Manh     10    20
2   3    20104052      Quan     10    20
3   4    20104015       Anh     10    20
4   5    20149564      Vinh      9    20
5   6    20132567       Huy     10    19
6   7    20156548     Khang      9    19
7   8    20165483      Kien      8    20
8   9    20156753     Duong     10    18
9  10    20185249     Hoang     10    20

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Score').count()

       NO  Student ID  Full Name  Faculty  Year
Score
7       1           1          1        1     1
8       1           1          1        1     1
9       2           2          2        2     2
10      7           7          7        7     7

In [ ]:
import pandas as pd
url = '/content/Book3.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Score').mean()

         NO  Student ID       Year
Score
7      11.0  20194523.0  19.000000
8       8.0  20165483.0  20.000000
9       6.0  20153056.0  19.500000
10      5.0  20127241.0  19.571429

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:

from typing import Counter
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data.groupby(['Event gender','NOC']).count()

                  Year  City  Sport  Discipline  Event  Medal
Event gender NOC
M            AUS     3     3      3           3      3      3
             AUT   118   118    118         118    118    118
             BEL     4     4      4           4      4      4
             BLR     5     5      5           5      5      5
             BUL     1     1      1           1      1      1
...                ...   ...    ...         ...    ...    ...
X            ITA     8     8      8           8      8      8
             RUS    12    12     12          12     12     12
             UKR     1     1      1           1      1      1
             URS    21    21     21          21     21     21
             USA    11    11     11          11     11     11

[96 rows x 6 columns]

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data = data.set_index(data['Medal'])
data.loc['Gold']
data[(data['Medal']=='Gold') & (data['Event gender']=='M') & (data['NOC']=='USA')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
Gold,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
Gold,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
Gold,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
Gold,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
Gold,1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
Gold,1948,St. Moritz,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
Gold,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
Gold,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
Gold,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
Gold,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
Gold,1960,Squaw Valley,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
Gold,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
Gold,1964,Innsbruck,Skating,Speed skating,USA,500m,M,Gold
Gold,1976,Innsbruck,Skating,Speed skating,USA,1000m,M,Gold
Gold,1980,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,1000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
Gold,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
Gold,1984,Sarajevo,Skiing,Alpine Skiing,USA,downhill,M,Gold
Gold,1984,Sarajevo,Skiing,Alpine Skiing,USA,slalom,M,Gold
Gold,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold
Gold,1994,Lillehammer,Skating,Speed skating,USA,1000m,M,Gold
Gold,1994,Lillehammer,Skiing,Alpine Skiing,USA,downhill,M,Gold
Gold,1998,Nagano,Skiing,Freestyle Ski.,USA,aerials,M,Gold
Gold,1998,Nagano,Skiing,Freestyle Ski.,USA,moguls,M,Gold
Gold,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
Gold,2002,Salt Lake City,Skating,Short Track S.,USA,1500m,M,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,USA,1500m,M,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,USA,500m,M,Gold
Gold,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
Gold,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold